p {text-align: justify;}
span.time {float: right;}
span.emph {font-weight: bold;}
span.tt {font-weight: bold;}
img.imageright {float: right; margin-left: 2em;}
@media print {.imageright {display: none;} p a:link, p a:visited {color: black;}}
